html,
body {
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    justify-content: center;
    margin-top: 20px"
}

button {
    width: 100px;
    color:salmon; 
    padding: 6px; 
    border-radius: 4px;
}

ul {
    margin-top: 20px; 
    text-align: center;
    padding:50px;
}